.tiptap:first-child {
  margin-top: 0;
}

.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}

.tiptap ul li p,
.tiptap ol li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
  margin-top: 1.5rem;
  text-wrap: pretty;
}

.tiptap h1,
.tiptap h2 {
  margin-bottom: 0.5rem;
}

.tiptap h1 {
  font-size: 1.4rem;
}

.tiptap h2 {
  font-size: 1.2rem;
}

.tiptap h3 {
  font-size: 1.1rem;
}

.tiptap h4,
.tiptap h5,
.tiptap h6 {
  font-size: 1rem;
}

.tiptap code {
  background-color: #0a0a0d;
  border-radius: 0.4rem;
  color: rgb(229, 58, 58);
  font-size: 0.85rem;
  padding: 0.25em 0.3em;
}

.tiptap pre {
  background: #1e1e2e;
  border-radius: 0.5rem;
  color: #ffffff;
  font-family: 'JetBrainsMono', monospace;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
}

.tiptap pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

.tiptap blockquote {
  border-left: 3px solid #666666;
  margin: 1.5rem 0;
  padding-left: 1rem;
  color: #cccccc;
}

.tiptap hr {
  border: none;
  border-top: 1px solid #444444;
  margin: 2rem 0;
}


/* Bubble menu */
.bubble-menu {
  background-color: hsl(var(--primary));
  color: hsl(var(--background));
  border: 1px solid var(--gray-1);
  border-radius: 0.7rem;
  box-shadow: hsl(var(--background))));
  display: flex;
  gap: 0.5rem;
  padding: 0.2rem 0.5rem;

  button {
    background-color: unset;

    &:hover {
      background-color: hsl(var(--muted));
    }

    &.is-active {
      background-color: var(--purple);

      &:hover {
        background-color: var(--purple-contrast);
      }
    }
  }
}

/* Floating menu */
.floating-menu {
  display: flex;
  background-color: var(--gray-3);
  padding: 0.1rem;
  border-radius: 0.5rem;

  button {
    background-color: unset;
    padding: 0.275rem 0.425rem;
    border-radius: 0.3rem;

    &:hover {
      background-color: var(--gray-3);
    }

    &.is-active {
      background-color: var(--white);
      color: var(--purple);

      &:hover {
        color: var(--purple-contrast);
      }
    }
  }
}

.ProseMirror:focus {
  outline: none;
}
